#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

// .logo {
//   width: 140px; /* you can use % */
//   height: auto;
//   padding-top: 4%;
//   margin-bottom: 23px;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }
