.projects-list {
  span.ant-avatar {
    margin: 0px 3px;
  }

  span.ant-divider-inner-text {
    font-size: 15pt;
    font-weight: 900;
    color: #13c2c2
  }

  div.ant-card {
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    &:hover {
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1) !important;
    }
  }
  
}
