.user-dropdown {
    float: right;
    margin-right: 1%;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover { 
        background-color: #b5f5ec
    }
    padding: 0 15px;
}

.menu-dropdown {
    i {
        padding-right: 10px
    }
}
