.topHeader {
  .company-logo {
    margin-left: 50%;
    float: left;
    width: 140px; /* you can use % */
    height: auto;
    //   padding-top: 4px;
  }
  .user-dropdown {
    float: right;
    margin-right: 1%;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
      background-color: #b5f5ec;
    }
    padding: 0 15px;
  }

  .ant-dropdown-menu-item > a,
  .ant-dropdown-menu-submenu-title > a {
    padding: 100px;
  }
}
